{% comment %}
  Multi-Property Mobile Drawer Menu
  @param {array} property_products - All property products in the store
{% endcomment %}

{% liquid
  assign all_accommodation_handle = 'all-property-accommodation'
  assign all_dining_handle = 'all-property-dining'
  assign all_activities_handle = 'all-property-activities'
  assign all_spa_handle = 'all-property-spa'
  assign all_videos_handle = 'all-property-videos'
  assign all_panoramas_handle = 'all-property-panoramas'
  assign all_documents_handle = 'all-property-documents'

  assign has_accommodation = false
  assign has_dining = false
  assign has_activities = false
  assign has_spa = false
  assign has_videos = false
  assign has_panoramas = false
  assign has_documents = false

  for property in property_products
    if property.metafields.wetu.accommodation_collection.value.products.size > 0
      assign has_accommodation = true
    endif
    if property.metafields.wetu.restaurants_collection.value.products.size > 0
      assign has_dining = true
    endif
    if property.metafields.wetu.activities_collection_ref.value.products.size > 0
      assign has_activities = true
    endif
    if property.metafields.wetu.spa_collection.value.products.size > 0
      assign has_spa = true
    endif

    assign property_video_refs = property.metafields.wetu.videos.value
    assign property_document_refs = property.metafields.wetu.documents.value
    assign property_videos_collection_ref = property.metafields.wetu.videos_collection_ref.value
    assign property_documents_collection_ref = property.metafields.wetu.documents_collection_ref.value

    if property_video_refs != blank
      assign has_videos = true
    elsif property_videos_collection_ref != blank and property_videos_collection_ref.products_count > 0
      assign has_videos = true
    endif

    if property_document_refs != blank
      assign has_documents = true
    elsif property_documents_collection_ref != blank and property_documents_collection_ref.products_count > 0
      assign has_documents = true
    endif
  endfor

  # Panorama behavior remains product-based
  assign all_panoramas = collections.all.products | where: 'type', 'Panorama'
  if all_panoramas.size > 0
    assign has_panoramas = true
  endif

  # Preserve existing all-property collection behavior
  if has_videos == false and collections[all_videos_handle] and collections[all_videos_handle].products_count > 0
    assign has_videos = true
  endif
  if has_documents == false and collections[all_documents_handle] and collections[all_documents_handle].products_count > 0
    assign has_documents = true
  endif

  # Global all-property fallback via metaobjects when all-property collections are empty
  if has_videos == false
    for global_video in shop.metaobjects.travel_video.values limit: 1
      assign has_videos = true
      break
    endfor
  endif

  if has_documents == false
    for global_document in shop.metaobjects.travel_document.values limit: 1
      assign has_documents = true
      break
    endfor
  endif
-%}

<ul class="header-drawer__menu-list">
  {%- comment -%} Store Name with Properties {%- endcomment -%}
  <li class="header-drawer__menu-item">
    <button
      class="header-drawer__category-toggle"
      aria-expanded="false"
      onclick="this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') === 'false' ? 'true' : 'false'); this.nextElementSibling.hidden = !this.nextElementSibling.hidden;"
    >
      <span>{{ shop.name }}</span>
      <span class="header-drawer__toggle-icon">▼</span>
    </button>
    <ul class="header-drawer__submenu" hidden>
      <li class="header-drawer__submenu-item">
        <a href="/" class="header-drawer__submenu-link">
          Home
        </a>
      </li>
      {% for property in property_products %}
        {% if property.available %}
          <li class="header-drawer__submenu-item">
            <a href="{{ property.url }}" class="header-drawer__submenu-link">
              {{ property.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>

  {%- comment -%} Accommodation {%- endcomment -%}
  {% if has_accommodation %}
    <li class="header-drawer__menu-item">
      <button
        class="header-drawer__category-toggle"
        aria-expanded="false"
        onclick="this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') === 'false' ? 'true' : 'false'); this.nextElementSibling.hidden = !this.nextElementSibling.hidden;"
      >
        <span>Accommodation</span>
        <span class="header-drawer__toggle-icon">▼</span>
      </button>
      <ul class="header-drawer__submenu" hidden>
        <li class="header-drawer__submenu-item">
          <a href="/collections/{{ all_accommodation_handle }}" class="header-drawer__submenu-link">
            View All
          </a>
        </li>
        {% for property in property_products %}
          {% if property.available %}
            {% liquid
              assign property_accommodation = property.metafields.wetu.accommodation_collection.value
              assign accommodation_count = property_accommodation.products.size
            %}
            {% if accommodation_count > 0 %}
              <li class="header-drawer__submenu-item">
                {% if accommodation_count == 1 %}
                  <a href="{{ property_accommodation.products.first.url }}" class="header-drawer__submenu-link">
                    {{ property.title }}
                  </a>
                {% else %}
                  <a href="{{ property_accommodation.url }}" class="header-drawer__submenu-link">
                    {{ property.title }}
                  </a>
                {% endif %}
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endif %}

  {%- comment -%} Dining {%- endcomment -%}
  {% if has_dining %}
    <li class="header-drawer__menu-item">
      <button
        class="header-drawer__category-toggle"
        aria-expanded="false"
        onclick="this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') === 'false' ? 'true' : 'false'); this.nextElementSibling.hidden = !this.nextElementSibling.hidden;"
      >
        <span>Dining</span>
        <span class="header-drawer__toggle-icon">▼</span>
      </button>
      <ul class="header-drawer__submenu" hidden>
        <li class="header-drawer__submenu-item">
          <a href="/collections/{{ all_dining_handle }}" class="header-drawer__submenu-link">
            View All
          </a>
        </li>
        {% for property in property_products %}
          {% if property.available %}
            {% liquid
              assign property_dining = property.metafields.wetu.restaurants_collection.value
              assign dining_count = property_dining.products.size
            %}
            {% if dining_count > 0 %}
              <li class="header-drawer__submenu-item">
                {% if dining_count == 1 %}
                  <a href="{{ property_dining.products.first.url }}" class="header-drawer__submenu-link">
                    {{ property.title }}
                  </a>
                {% else %}
                  <a href="{{ property_dining.url }}" class="header-drawer__submenu-link">
                    {{ property.title }}
                  </a>
                {% endif %}
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endif %}

  {%- comment -%} Activities {%- endcomment -%}
  {% if has_activities %}
    <li class="header-drawer__menu-item">
      <button
        class="header-drawer__category-toggle"
        aria-expanded="false"
        onclick="this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') === 'false' ? 'true' : 'false'); this.nextElementSibling.hidden = !this.nextElementSibling.hidden;"
      >
        <span>Activities</span>
        <span class="header-drawer__toggle-icon">▼</span>
      </button>
      <ul class="header-drawer__submenu" hidden>
        <li class="header-drawer__submenu-item">
          <a href="/collections/{{ all_activities_handle }}" class="header-drawer__submenu-link">
            View All
          </a>
        </li>
        {% for property in property_products %}
          {% if property.available %}
            {% liquid
              assign property_activities = property.metafields.wetu.activities_collection_ref.value
              assign activities_count = property_activities.products.size
            %}
            {% if activities_count > 0 %}
              <li class="header-drawer__submenu-item">
                {% if activities_count == 1 %}
                  <a href="{{ property_activities.products.first.url }}" class="header-drawer__submenu-link">
                    {{ property.title }}
                  </a>
                {% else %}
                  <a href="{{ property_activities.url }}" class="header-drawer__submenu-link">
                    {{ property.title }}
                  </a>
                {% endif %}
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endif %}

  {%- comment -%} Spa {%- endcomment -%}
  {% if has_spa %}
    <li class="header-drawer__menu-item">
      <button
        class="header-drawer__category-toggle"
        aria-expanded="false"
        onclick="this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') === 'false' ? 'true' : 'false'); this.nextElementSibling.hidden = !this.nextElementSibling.hidden;"
      >
        <span>Spa</span>
        <span class="header-drawer__toggle-icon">▼</span>
      </button>
      <ul class="header-drawer__submenu" hidden>
        <li class="header-drawer__submenu-item">
          <a href="/collections/{{ all_spa_handle }}" class="header-drawer__submenu-link">
            View All
          </a>
        </li>
        {% for property in property_products %}
          {% if property.available %}
            {% liquid
              assign property_spa = property.metafields.wetu.spa_collection.value
              assign spa_count = property_spa.products.size
            %}
            {% if spa_count > 0 %}
              <li class="header-drawer__submenu-item">
                {% if spa_count == 1 %}
                  <a href="{{ property_spa.products.first.url }}" class="header-drawer__submenu-link">
                    {{ property.title }}
                  </a>
                {% else %}
                  <a href="{{ property_spa.url }}" class="header-drawer__submenu-link">
                    {{ property.title }}
                  </a>
                {% endif %}
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endif %}

  {%- comment -%} Videos, 3D Views, Documents follow same pattern {%- endcomment -%}
  {% if has_videos %}
    <li class="header-drawer__menu-item">
      <a href="/collections/{{ all_videos_handle }}" class="header-drawer__link">
        Videos
      </a>
    </li>
  {% endif %}

  {% if has_panoramas %}
    <li class="header-drawer__menu-item">
      <a href="/collections/{{ all_panoramas_handle }}" class="header-drawer__link" target="_blank">
        3D Views
      </a>
    </li>
  {% endif %}

  {% if has_documents %}
    <li class="header-drawer__menu-item">
      <a href="/collections/{{ all_documents_handle }}" class="header-drawer__link">
        Documents
      </a>
    </li>
  {% endif %}
</ul>
