{% comment %} city-description.liquid {% endcomment %}
<section class="m-city-desc" data-section-id="{{ section.id }}">
  <div class="page-width">
    <h2 class="m-city-desc__headline">{{ metaobject.name.value | escape }}</h2>
    <div class="m-city-desc__body">
      {% if metaobject.description.value != blank %}
        <p>{{ metaobject.description.value | strip_html | truncate: 500 }}</p>
      {% elsif metaobject.short_description.value != blank %}
        <p>{{ metaobject.short_description.value | strip_html | truncate: 500 }}</p>
      {% else %}
        <p>{{ metaobject.name.value | escape }}. Placeholder description.</p>
      {% endif %}
    </div>
  </div>
</section>
{% schema %}{ "name": "City Description", "class": "section-city-description", "settings": [], "presets": [{ "name": "City Description" }] }{% endschema %}
